.HomePage .container {
  margin-left:auto;
  margin-right: auto;

}

button:hover {
  animation: btnHover .3s linear;
  animation-fill-mode:both;
  animation-direction:alternate;
}

@keyframes btnHover {
  from {
    border-radius:0px;

  }

  to {
    border-radius:20px;

  }
}

.bold-text {
  font-weight: bold;
}
.HomePage img{
  width:300px;
  height:300px;
  margin-top:10rem;
}
  .HomePage .row {
    display: flex;
    justify-content: center;
  }
  
.HomePage .three.columns  {
  display: flex;
  justify-content: center
}

.HomePage h1{
  font-family: Raleway;
  text-align: center;
  margin-bottom:10rem;
  margin-top:4rem;
}

.sidebar {
  filter:invert(100%);
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  text-align: center;
}

.sidebar a {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor:pointer;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar a:hover .sidebarIcon{
 
  filter:invert(85%) !important;
  transition: 0.3s;

}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

 .hamburger {
  width:50px;
  height: 50px;
  cursor: pointer;
  /* margin-left:10px; */
  z-index: 999;
  /* position: relative; */
  /* filter: invert(100%); */
  left:0px;
  position: fixed;

}
 .sidebarIcon {
  width:42px;
  height: 42px;
  cursor: pointer;
  /* margin-left:10px; */
  z-index: 999;
  /* position: relative; */
  filter:invert(100%) !important;

  left:0px;
  position: absolute;
  margin-left: 5px;

}

.logout-button{
  background-color: rgb(14, 13, 13);
  color: white ;
  border-color: rgb(0, 255,255);
  margin: 5px;
  bottom:0px;
  top:90%;
  /* margin-left: -20px; */
}
.logoutbtnA {
  position: absolute;
  bottom:14%;
}
.topbar {
  margin-top:20px;
  margin-bottom:40px;
  text-align: center;
}
.topbar h1 {
  text-align: center;
}

.usrImg {
  width:50px;
  position:absolute;
  left:15px;
  top:15px;
  border-radius: 50px;
}
.NotesTable{
  width:80%;
  margin:auto;
  margin-top:50px;
  margin-bottom:40px;
}
.Page {
  margin-left:0px;
  transition: 0.5s;
}
.shrink {
  transition: 0.5s;
  margin-left:205px;
}
.JournalListItem{
  width:80%;
  cursor: pointer;

}
/* .JournalListItem td {
  padding-left:4px !important;

} */
.JournalListItem:hover{
  text-decoration: underline;
  color: #818181;
  transition: 0.3s;
  background-color: #f4eeee;
}
.centerItems {
  align-items: center;
}
.EntryPage p {
  padding:20px;
  margin:auto;
text-align: left;
  width:80%;
}
.EntryPage .MainContent {
  text-align: center;
}
.EntryPage input {
  padding:20px;
  margin:auto;
  width:50%;
  text-align: left;
  overflow: auto;
  overflow-wrap: break-word
}
.EntryPage input:focus {
  background-color: #f3f3ee;
  transition:0.3s;
}
.EntryPage textarea:focus {
  background-color: #f3f3ee;
  transition:0.3s
}
.EntryPage textarea {
  padding:20px;
  margin:auto;
  width:80%;
  text-align: left;
  min-height: 50vh;
}
.centeredTitle {
  text-align: center;
  padding:30px;
}
.titleInput {
  font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;
  text-align: center !important;
}
.subtitleInput {
  font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;
  text-align: center !important;
  margin:0px !important;
}
.hide {
  border: none;
  padding:none;
  margin:none;
}
.buttonSection {

  /* position: absolute; */
  /* left:20rem; */
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 48px;
  bottom:3vh;
}
.buttonSection button {
  margin:5px;
}
.editGroup button {
  float:right;
}
.createBtnSection{

  position: absolute;
  left:20rem;
  width: 80%;
  margin: auto;
  margin-top: 48px;
}
.createBtnSection button {
  float:right
}

.EntryPage .MainContent p {
  white-space: pre-line;
}

.entryContent {
  /* background-color: rgb(252, 251, 248); */
  border-radius: 15px;
  margin-bottom:20px;
}

.AboutPage .img {
  width: 200px;
  height: 200px;
  position: relative;

}
.AboutPage .maincontent {
  margin-left: 55px;
  width:90%;
  margin: auto;
}
.AboutPage .six.columns.img {
  text-align: center;
}
.AboutPage .text {
  text-align: center;
  position: relative;
  /* margin-left: 20%; */
  margin:10px;
  padding:30px;
  /* font-size: 1.5em; */
}
.followupFormEdit p {
  text-align: center !important;
  font-weight: bold;
}
.followupForm {
  width:40%;
  text-align: center;
  margin:auto;
  margin-top:10px;
  padding:10px;
  /* background-color: rgb(255, 244, 240); */
  border-radius: 10px;
  border:0.5px solid rgb(8, 8, 8,0.3);
  background-color:#efefe4
}
.followupForm p {
  text-align: center;
}
.EntryPage .centeredTitle {
  padding:15px;
  padding-top:30px;
}

.followupFormEdit{
  width:60%;
  text-align: center;
  margin:auto;
  margin-top:10px;
  padding:10px;
  /* background-color: rgb(255, 244, 240); */
  border-radius: 10px;
  border:0.5px solid rgb(8, 8, 8,0.3)
}
.errorText {
  color:red;
  text-align: center !important;
  font-weight: 600;
  /* text-shadow: 1px 1px 20px black; */
  background-color: rgb(244, 197, 178);
  border:4px solid red
}
.FollowUpPage .main {
  margin-left: 0px !important;
}
.FollowUpListItem{
  width:80%;
  cursor: pointer;
}
.FollowUpListItem:hover{
  text-decoration: underline;
  color: #818181;
  transition: 0.3s;
  background-color: #f4eeee;
}

.followupTable{
  /* width:88%; */
  width:40vw;
  /* margin:auto; */
  margin-left: 60px;
  margin-top:50px;
}
.FollowUpPage .MainContent {
  margin-left:65px;
}

.FollowUpPage caption {
  font-size:2.5rem
}
.FollowUpPage .lvlTh {
  min-width:10rem;
} 
.tagTh {
  min-width:13rem;
}
.titleTh{
  min-width:13rem;
}
.innerContent .createBtn {
  position: fixed;
  right: 20px;
  top:88vh;
  margin-left:10px;
  width:60px;
 
}
.FollowUpPage .six.columns {
  margin-left: 0px !important;
}
.createBtn{
  cursor: pointer;
  border:1px solid rgba(97, 97, 97, 0.568);
  border-radius: 25px;
  margin:10px
}
.createBtn:hover{
  background-color: rgb(169, 169, 169);
  transition: 0.3s;
  border:1px solid rgba(97, 97, 97);
}
.tagNameChng {
  position: fixed;
  right: 20px;
  top:70vh;
  margin-left:10px;
  width:55px;
  height:55px;
  cursor: pointer;
  border:1px solid rgba(97, 97, 97, 0.568);
  border-radius: 10px;
  margin:10px;
  padding:5px;
 
}
.tagNameChng:hover{
  background-color: rgb(169, 169, 169);
  transition: 0.3s;
  border:1px solid rgba(97, 97, 97);
}
.deleteButton {
  background-color: rgb(240, 150, 150);
  color: white;
  /* left: 50rem; */
}

.textContent {
  margin-bottom:40px !important;
  overflow-wrap:break-word;
}

.searchFormObject {
  text-align: center;
}

.FollowUpPage h3 {
  text-align: center;
  margin-top:50px;

}
.tagAddForm {
  text-align: right;
}

.searchFormInput {
  width:80%;
}
.addTagInput{
  width:25%;
  margin:5px;
}
.subContent {
  /* max-width: 15rem;; */
  font-size:small;
  font-weight: 200;
  overflow-wrap:anywhere;
}
.nameColumn {
  max-width:16rem;
}
.tagItemList {
  list-style-type: none;
  padding:30px;
  width:80%;
  margin: auto;
}
.tagLi {
  text-align: center;
  width: 100rem;
  padding:20px;
  margin-bottom: 0px;

}
.tagLi p {
  margin:auto;
  width:100%;
}
.tagLi :nth-child(2){
  margin:auto;
  font-weight: 100;
  font-size:small;
}
.SelectTags {
  width:50%;
  margin:auto;
  margin-bottom:30px;
  /* margin-left:65px; */
}
.tagsCollection {
  margin:auto;
  list-style-type: none;
  display: flex;
}
.tagList {
  background-color: #e9dbdb;
  margin:10px;
  cursor: pointer;
  padding:10px;
  border-radius:10px;
  font-size:small
}
.tagDiv{
  border:1px solid rgba(97, 97, 97, 0.379);
  width:40%;
  padding:10px;
  margin:auto;
  margin-bottom:30px;
  text-align: center;
  border-radius:10px;
}
.xBtn {
  display: none;
  /* width:20px; */
  /* padding:5px; */
  padding:10px;
  height: 30px;
  text-align: center;
  line-height: 0px;
  background-color: rgb(217, 126, 126);
  color:white;
  margin-bottom: 0px;
  margin:auto;
  /* margin-right: 5px; */
}

.tagLiDiv:hover .xBtn{
  display: inline;
  transition: 0.3s;
}
.tagLiDiv:hover .tagEditImg{
  display: inline;
  transition: 0.3s;
}
.tagLiDiv{
  max-width:25rem;
  background-color: #fcf7f7;
  border-radius: 10px;
  cursor: pointer;
  border:1px solid rgba(97, 97, 97, 0.568);
  display: flex;
  text-align: center;
  margin-bottom:10px;
}

.tagEditImg {
  /* width:25px; */
  /* height:25px; */
  width:28px;
  height:28px;
  background-color: white;
  border-radius: 5px;
  border:1px solid rgba(97, 97, 97, 0.568);
  text-align: center;
  line-height: 0px;
  margin-bottom: 0px;
  margin:auto;
  /* padding:1px; */
  display: none;
}

.tagEditInputForm {
  text-align: center;
  /* width: 100rem; */
  padding:20px;
  margin-bottom: 0px;
}
.tagEditInput{
  text-align: center;
  width: 100%;
  padding:20px;
  margin-bottom: 0px;
  padding:0px;
  margin:0px;
  height:23px !important;
}

.deleteAllBtn{
  background-color: rgb(14, 13, 13);
  color: rgb(255, 0, 0) ;
  border:2px solid;
  border-color: rgb(236, 26, 11) !important;
  margin: 5px;
  bottom:0px;
  top:90%;
  margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  /* margin-left: -20px; */
}
.deleteAllBtn:hover {

  color: rgb(255, 0, 0);
  background-color: black;
  animation: deleteBtnHover 0.3s ;
    animation-fill-mode: both;
      animation-direction: alternate;
        box-shadow: 5px 5px #888888;

}
.wipeAccountsection {
  margin: auto;
  text-align: center;

}

@keyframes deleteBtnHover {
  from {
   scale: 1;
  }

  to {
    scale:1.2
  }
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(246, 242, 242, 0.383);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #cbd7ad transparent  #cbd7ad transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}