.HomePage .container {
  margin-left:auto;
  margin-right: auto;

}

button:hover {
  animation: btnHover .5s linear;
  animation-fill-mode:both;
  animation-direction:alternate;


}

@keyframes btnHover {
  from {
    border-radius:0px;

  }

  to {
    border-radius:30px;

  }
}

.HomePage img{
  width:300px;
  height:300px;
  margin-top:10rem;
}
  .HomePage .row {
    display: flex;
    justify-content: center;
  }
  
.HomePage .three.columns  {
  display: flex;
  justify-content: center
}

.HomePage h1{
  font-family: Raleway;
  text-align: center;
  margin-bottom:10rem;
  margin-top:4rem;
}

.sidebar {
  filter:invert(100%);
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

.sidebar a {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor:pointer;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

 .hamburger {
  width:50px;
  height: 50px;
  cursor: pointer;
  /* margin-left:10px; */
  z-index: 999;
  /* position: relative; */
  /* filter: invert(100%); */
  left:0px;
  position: fixed;

}
 .sidebarIcon {
  width:40px;
  height: 40px;
  cursor: pointer;
  /* margin-left:10px; */
  z-index: 999;
  /* position: relative; */
  filter:invert(100%) !important;

  left:0px;
  position: absolute;
  margin-left: 5px;

}
.logout-button{
  background-color: rgb(14, 13, 13);
  color: white ;
  border-color: rgb(0, 255,255);
  margin: 5px;
  bottom:0px;
  top:90%;
  /* margin-left: -20px; */
}
.logoutbtnA {
  position: absolute;
  bottom:14%;
}
.topbar {
  margin-top:20px;
  margin-bottom:40px;
  text-align: center;
}
.topbar h1 {
  text-align: center;
}

.usrImg {
  width:50px;
  position:absolute;
  left:15px;
  top:15px;
  border-radius: 50px;
}
.NotesTable{
  width:80%;
  margin:auto;
  margin-top:50px;
}
.Page {
  margin-left:0px;
  transition: 0.5s;
}
.shrink {
  transition: 0.5s;
  margin-left:205px;
}
.JournalListItem{
  width:80%;
  cursor: pointer;

}
/* .JournalListItem td {
  padding-left:4px !important;

} */
.JournalListItem:hover{
  text-decoration: underline;
  color: #818181;
  transition: 0.3s;
  background-color: #f4eeee;
}
.centerItems {
  align-items: center;
}
.EntryPage p {
  padding:20px;
  margin:auto;
text-align: left;
  width:80%;

}
.EntryPage .MainContent {
  text-align: center;
}
.EntryPage input {
  padding:20px;
  margin:auto;
  width:50%;
  text-align: left;
  overflow: auto;
  overflow-wrap: break-word
}
.EntryPage textarea {
  padding:20px;
  margin:auto;
  width:80%;
  text-align: left;
  min-height: 50vh;
}
.centeredTitle {
  text-align: center;
  padding:30px;
}
.titleInput {
  font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;
  text-align: center !important;

}
.buttonSection {

  position: absolute;
  left:20rem;
  width: 80%;
  margin: auto;
  margin-top: 48px;
}
.buttonSection button {
  margin:5px;
}
.editGroup button {
  float:right;
}
.createBtnSection{

  position: absolute;
  left:20rem;
  width: 80%;
  margin: auto;
  margin-top: 48px;
}
.createBtnSection button {
  float:right
}

.EntryPage .MainContent p {
  white-space: pre-line;
}

.entryContent {
  /* background-color: rgb(252, 251, 248); */
  border-radius: 15px;
  margin-bottom:20px;
}

.AboutPage .img {
  width: 200px;
  height: 200px;
  position: relative;

}
.AboutPage .maincontent {
  margin-left: 55px;
  width:90%;
  margin: auto;
}
.AboutPage .six.columns.img {
  text-align: center;
}
.AboutPage .text {
  text-align: left;
  position: relative;
  /* margin-left: 20%; */
  margin:10px;
  padding:30px;
  font-size: 1.5em;
}
.followupFormEdit p {
  text-align: center !important;
  font-weight: bold;
}
.followupForm {
  width:60%;
  text-align: center;
  margin:auto;
  margin-top:10px;
  padding:10px;
  /* background-color: rgb(255, 244, 240); */
  border-radius: 10px;
  border:0.5px solid rgb(8, 8, 8,0.3)
}
.followupFormEdit{
  width:60%;
  text-align: center;
  margin:auto;
  margin-top:10px;
  padding:10px;
  /* background-color: rgb(255, 244, 240); */
  border-radius: 10px;
  border:0.5px solid rgb(8, 8, 8,0.3)
}
.errorText {
  color:red;
  text-align: center !important;
  font-weight: 600;
  /* text-shadow: 1px 1px 20px black; */
  background-color: rgb(244, 197, 178);
  border:4px solid red
}
.FollowUpPage .main {
  margin-left: 0px !important;
}
.FollowUpListItem{
  width:80%;
  cursor: pointer;
}
.FollowUpListItem:hover{
  text-decoration: underline;
  color: #818181;
  transition: 0.3s;
  background-color: #f4eeee;
}

.followupTable{
  width:80%;
  margin:auto;
  margin-top:50px;
}
.FollowUpPage .MainContent {
  margin-left:65px;
}

.FollowUpPage caption {
  font-size:2.5rem
}
.FollowUpPage .lvlTh {
  min-width:10rem;
} 
.tagTh {
  min-width:13rem;
}
.titleTh{
  min-width:13rem;
}
.innerContent .createBtn {
  position: fixed;
  right: 20px;
  top:90vh;
  margin-left:10px;
  width:60px;
 
}
.createBtn{
  cursor: pointer;
  border:1px solid rgba(97, 97, 97, 0.568);
  border-radius: 25px;
  margin:10px
}
.createBtn:hover{
  background-color: rgb(169, 169, 169);
  transition: 0.3s;
  border:1px solid rgba(97, 97, 97);
}
.deleteButton {
  background-color: rgb(240, 150, 150);
  color: white;
  /* left: 50rem; */
}
/* .editBtn{
  width:60px;
  cursor: pointer;
  border:1px solid rgba(58, 240, 3, 0.568);
  border-radius: 5px;
  margin:10px
}
.editBtn:hover{
  background-color: rgb(238, 235, 190);
  transition: 0.3s;
  border:1px solid rgba(58, 240, 3,);
}
.cancelBtn{
  width:60px;
  cursor: pointer;
  border:1px solid rgba(240, 106, 3, 0.568);
  border-radius: 5px;
  margin:10px
}
.cancelBtn:hover{
  background-color: rgb(238, 190, 190);
  transition: 0.3s;
  border:1px solid rgba(240, 106, 3)
}

.acceptBtn{
  width:60px;
  cursor: pointer;
  border:1px solid rgba(23, 240, 3, 0.568);
  border-radius: 5px;
  margin:10px
}
.acceptBtn:hover{
  background-color: rgb(126, 247, 134);
  transition: 0.3s;
  border:1px solid rgba(240, 106, 3)
}

.deleteBtn{
  width:60px;
  cursor: pointer;
  border:1px solid rgba(240, 106, 3, 0.568);
  border-radius: 5px;
  margin:10px
}
.deleteBtn:hover {
  background-color: rgb(240, 150, 150);
  transition: 0.3s;
  border:1px solid rgba(240, 106, 3)
} */


/* tr:hover td{
  background-color: #f4eeee;
  transition:0.1s
}
td:first-child {

  border-top-left-radius: 15px; 
  border-bottom-left-radius: 15px;
}
td:last-child {

  border-bottom-right-radius: 15px; 
  border-top-right-radius: 15px; 
} */